.page__title--underline
    +margin-top(5)
    +margin-bottom(3)
    +font-size(beta)
    text-align: center
    font-weight: 400
    text-transform: uppercase

    &::after
        content: ''
        border-bottom: 1px solid $light-grey
        width: 100%
        margin: auto
        display: block
        +margin-top(2)

.main-text
    +font-size(delta)
    line-height: 1.7

.main-text--important
    +font-size(gamma)
    line-height: 2
    font-weight: 250

.main-text__link
    color: $base-body-color
    text-decoration: none

    &:hover
        color: $dark-blue
        text-decoration: none

.main-text__smallprint
    +font-size(smallprint)
    line-height: 1.3

.strong
    font-weight: 400